# Exercise

You're given a file called `playgolf.csv` in the data folder.  The file is comma delimited and the first row is the header.  Without opening and looking at the file, create a table and insert the data. Here is the header and first row:


|Date|Outlook|Temperature|Humidity|Windy|Result|
|----|-------|-----------|--------|-----|------|
|07-01-2014|sunny|85|85|false|Don't Play|

In [13]:
import pandas as pd
import psycopg2

In [14]:
conn = psycopg2.connect(dbname='temp', password='galvanize', user='postgres', host='localhost')

In [15]:
cur = conn.cursor()

In [16]:
query = '''
        CREATE TABLE playgolf (
            golfdate date,
            outlook varchar(20),
            temperature integer,
            humidity integer,
            windy varchar(20),
            result varchar(20)
        );
        '''
cur.execute(query)

In [17]:
import os
path = os.getcwd()
path

'/Users/skylarenglish/galvanize/lectures/sql-advanced'

In [18]:
query = '''
        COPY playgolf
        FROM '/home/data/sql-advanced/playgolf.csv' 
        DELIMITER ',' 
        CSV HEADER;
        '''.format(path)
print(query)
cur.execute(query)

        COPY playgolf
        FROM '/home/data/sql-advanced/playgolf.csv'
        DELIMITER ','
        CSV HEADER;

In [19]:
query = '''
        SELECT *
        FROM playgolf
        LIMIT 30;
        '''
cur.execute(query)

In [20]:
cur.fetchone()

(datetime.date(2014, 7, 1), 'sunny', 85, 85, 'FALSE', "Don't Play")

In [21]:
conn.commit()

In [22]:
pd.read_sql(query, conn)

      golfdate   outlook  temperature  humidity  windy      result
0   2014-07-01     sunny           85        85  FALSE  Don't Play
1   2014-07-02     sunny           80        90   TRUE  Don't Play
2   2014-07-03  overcast           83        78  FALSE        Play
3   2014-07-04      rain           70        96  FALSE        Play
4   2014-07-05      rain           68        80  FALSE        Play
5   2014-07-06      rain           65        70   TRUE  Don't Play
6   2014-07-07  overcast           64        65   TRUE        Play
7   2014-07-08     sunny           72        95  FALSE  Don't Play
8   2014-07-09     sunny           69        70  FALSE        Play
9   2014-07-10      rain           75        80  FALSE        Play
10  2014-07-11     sunny           75        70   TRUE        Play
11  2014-07-12  overcast           72        90   TRUE        Play
12  2014-07-13  overcast           81        75  FALSE        Play
13  2014-07-14      rain           71        80   TRUE  Don't Play

In [12]:
cur.close()
conn.close()